# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django-related
*.log
*.pot
*.pyc
db.sqlite3
media/
static/

# Ignore environment-specific settings
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore local development settings
*.bak
*.sql

# Ignore generated model files
*.pkl
